<h2>
    <i>
        Order Cart
    </i>
</h2>

<h4> Car Information </h4>

<dl>
    <dt>Vehicle Model ID</dt>
    <dd>{{detail._id}}</dd>
    <dt>Vehicle Model</dt>
    <dd>{{detail.vehicleModel}}</dd>
    <dt>Vehicle Type</dt>
    <dd>{{detail.vehicleType}}</dd>
    <dt>Passengers</dt>
    <dd>{{detail.passengers}}</dd>

    <dt>Auto</dt>
    {{#if detail.auto}} <dd>Automatic Gear</dd>
    {{else}} <dd>Manual File</dd>
    {{/if}}

    <dt>Air Conditioner</dt>
    {{#if detail.ac}} <dd>Support</dd>
    {{else}} <dd>Not Support</dd>
    {{/if}}

    <dt>Daily Charge</dt>
    <dd>{{detail.dailyCharge}}</dd>
    <dt>Total Number of In Storage Vehicle</dt>
    <dd>{{detail.totalStorage}}</dd>
    <dt>Current Number of In Storage Vehicle</dt>
    <dd>{{detail.inStorage}}</dd>
</dl>

<h4> Select Location and Time </h4>

<form id="order-form" method="POST" action="/detail">
    <label>Pick Up Location</label>
    <select name="from" id="from">
        {{#each siteList}}
            <option value={{siteName}}>{{siteName}}</option>
        {{/each}}
    </select><br>

    <label>Drop Off Location</label>
    <select name="to" id="to">
        {{#each siteList}}
            <option value={{siteName}}>{{siteName}}</option>
        {{/each}}
    </select><br>

    <label>Pick Up Time</label>
    <input type="date" name="pickUpDate" id="pickUpDate" required="true"><br>

    <label>Drop Of Time</label>
    <input type="date" name="dropOffDate" id="dropOffDate" required="true"><br>
    <input type="hidden" name="vehicleModelId" value={{detail._id}}>
    <input type="hidden" name="dailyCharge" value={{detail.dailyCharge}}>
    <br>
    <button type="submit">Submit</button>
</form>
<br>
<a href="/view/{{user.userName}}">Return to last page</a>